* {
  padding: 0; 
  box-sizing: border-box;
}

html{
   font-size: 1rem;
   height: 100%;
}
body,header,main,footer {
   border: 3px rgb(205, 202, 202) solid;
   min-height: 50px;
   margin: 0.5rem ;
   min-width: 400px; ;
}

main{
 min-height: 500px;  
}
.header-logo{
   width: auto;
   display: inline-block;
   margin:0.5rem ;
   
}


.header-menuBar{
   left: auto;
   position: relative;
   top: auto;
   width: auto;
   display:inline-block ;
   margin: 0.5rem 0 0.5rem 1rem;
}


.header-menuBar ul{
   list-style: none;
}
.header-menuBar li{
   float: left;
   font-weight: 700;
   text-align: center;
   margin: 0 0.5rem 0;
   font-size: larger;
   
}
.header-menuBar a{
  text-decoration: none;
  color: black;
}
.header-menuBar a:hover{
  color:red;
}
.header-menuBar li a{
  font-size: 1.5rem;

}

.from-Registro formulario{
  margin:0px auto ;
}
 
input ,textarea {
   width: 100%;
   margin-bottom: 20px;
   padding: 7px;
   box-sizing: border-box;
}

form {
   width: 450px;
   margin: auto;
   background: rgba(0,0,0,0.2);
   padding: 10px 20px;
   box-sizing: border-box;
   margin-top: 20px;
   border-radius: 7px;
}
h2{
   color: white;
   text-align: center;
   margin: 0;
   font-size: 30px;
   margin-bottom: 20px;
}

.fondoContacto {
   background-image: url(/fondoContacto.jfif);
   min-height: 500px;
   background-attachment: fixed;
   margin: 0;
}

.contenedor{
   width: 100%;
  display: flex;
  max-width: auto;
      
}
.ficha {
   width: 100%;
   margin: 20px;
   border-radius: 6px;
   overflow: hidden;
   background: white;
   box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
   cursor: default;
   transition: all 400ms ease;
}

.ficha:hover{
   box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
   transform: translate(-3%);
}
.ficha img{
 width: 100%;
 height:210px ;
}
.ficha h3{
   text-align:center;
   font-size:x-large;
   color: cadetblue;
}

.ficha h4{
   text-align:center;
   font-size:larger;
}
.ficha p{
   text-align:center;
   font-family: sans-serif;
   font-weight: bold;
   font-size: x-large;
   color: seagreen;
}

#boton{
 background-color: black;
 color:white;
 font-weight: bold;
}
#boton:hover{
   cursor: pointer;
}

@media (max-width:480px){
  from{
   width: 100%;
  }
}