* {
  padding: 0; 
  box-sizing: border-box;
}

html{
   font-size: 1rem;
   height: 100%;
}
body,header,main,footer {
   border: 3px grey solid;
   min-height: 50px;
   margin: 0.5rem ;
   min-width: 400px; ;
}

main{
 min-height: 500px;  
}
.header-logo{
   width: auto;
   display: inline-block;
   margin:0.5rem ;
   
}


.header-menuBar{
   left: auto;
   position: relative;
   top: auto;
   width: auto;
   display:inline-block ;
   margin: 0.5rem 0 0.5rem 1rem;
}


.header-menuBar ul{
   list-style: none;
}
.header-menuBar li{
   float: left;
   font-weight: 700;
   text-align: center;
   margin: 0 0.5rem 0;
   font-size: larger;
   
}